
<div style="text-align:center">
<h1>

</h1>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark " >
  <ul class="navbar-nav">
      <li class="nav-item  "  >
          <a routerLink="listar" routerLinkActive="active" class="nav-link ">Estudiante</a>
      </li>
      <li class="nav-item">
          <a routerLink="listardocente" routerLinkActive="active" class="nav-link ">Docente</a>
      </li>
      <li class="nav-item">
          <a routerLink="listarAsignatura" routerLinkActive="active" class="nav-link ">Asignatura</a>
      </li>
      <li class="nav-item">
          <a routerLink="listarHorario" routerLinkActive="active" class="nav-link ">Horario</a>
      </li>
      <li class="nav-item">
          <a routerLink="listarSalon" routerLinkActive="active" class="nav-link ">Salon</a>
      </li>
      <li class="nav-item">
          <a routerLink="listarMatricula" routerLinkActive="active" class="nav-link ">Matricula</a>
      </li>
  </ul>

</nav>

<hr>
<router-outlet>
  
</router-outlet>