.card {
    width: 1200px;
}
.container{

    font-family: emoji;


}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    margin-left: 45%;
    margin-right: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
} 